@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}

@font-face {
  font-family: 'Pixel Berry 08/84 Ltd.Edition';
  font-style: normal;
  font-weight: normal;
  src: local('Pixel Berry 08/84 Ltd.Edition'), url('assets/fonts/Pixel_Berry_08_84_Ltd.Edition.woff') format('woff');
  }
      


body {
  padding: 0;
  background: url(./assets/images/park.gif);
background-size: 125%;
  /* background: url(assets/images/bluebg.png); */
  font-family: 'Pixel Berry 08/84 Ltd.Edition';  
}
