@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}

@font-face {
  font-family: 'Pixel-Art Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Pixel-Art Regular'), url('assets/fonts/pixelart.woff') format('woff');
  }
      


body {
  padding: 0;
  background: url(assets/images/bluebg.png);
  font-family: "Pixel-Art Regular"    
}
