/* canvas window. fixed but resizeable */

.card-body-window{
    height:750px;
    width: 720px;
    background-color: #ffb3ba; 
    border-width: 10px;
    border-style: solid;
    border-color:  #ff899f
    padding 
}

#logoImg {
    border-radius: 6%;
    padding: 0px;
    display: inline-flex;
    margin-left: 20%;
}

/* media queries for canvas */
/* // Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) {
    height:400px;
    width: 400px}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {height:720px;
    width: 720px}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {height:720px;
    width: 720px}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {height:720px;
    width: 720px } */

.home-page {
  height: 1000px;
  width: 50%;
}

.screen {
    background-color: #ffb3ba;
    width: 50%;
    border: 11px solid #ffb3ba;
    padding: 24%;
    margin: 0 auto;
  }

.Register {
    background-color: #ffb3ba;
}

.backgroundWhite{
    background-color: #ffb3ba;
}

/* Wrapper for the form buttons */
/* ------------------------- */
.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
  }


#loudOut {
  background-color: #ffb3ba;
  border: 11px solid #ffb3ba;
  width: 50%;
  /* height: 100%; */
}


#titleTextStyling {
    font-size:3vw;
    font-family: "Pixel-Art Regular";
    color: white;
    text-shadow: 3px 2px grey; 
    margin-left: 40%;
}

.fontPusher {
    font-family: "Pixel-Art Regular" 
}

#buttonStyle {
    background-color: #ff899f; /* Green */
    border: none;
    color: #ffffba;
    text-shadow: #cdb635; 
}

.wrapping-card {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  margin: 0 auto; 
}

.home-cards {
  /* width: 150%; */
  text-align: center;
  width: 250px;
  margin-bottom: 3%;
  /* margin-left: -21%; */
  /* margin-top: 9%; */
}

.thumbnail {
  width: 30%
  /* margin-top: -500%; */
  /* margin-left: -30%; */
}

/* login page css*/
/* ------------------------- */
/*login button*/
#button1{
  display: flex;
  align-items:center;
  flex-direction: column; 
  justify-content: center;
  width: 50%;
  min-height: 50%;
  padding: 15px;
  margin-left: 25%
}

/*go to register page*/
#button2{
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 30%;
  min-height: 20%;
  padding: 10px;
  margin-left: 35%
}

.row{
  margin-left: 50%;
}

