/* canvas window. fixed but resizeable */

.card-body-window{
    height:720px;
    width: 720px;
    background-color: #ffb3ba; 
    border-width: 10px;
    border-style: solid;
    border-color:  #ff899f
    
}

#logoImg {
    border-radius: 6%;
    padding: 0px
}
/* media queries for canvas */
/* // Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) {
    height:400px;
    width: 400px}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {height:720px;
    width: 720px}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {height:720px;
    width: 720px}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {height:720px;
    width: 720px } */

.home-page {
  height: 1000px;
  width: 50%;
}

.screen {
    background-color: #ffb3ba;
    width: 50%;
    border: 11px solid #ffb3ba;
    padding: 24%;
    margin: 0 auto;
  }

.Register {
    background-color: #ffb3ba;
}

.backgroundWhite{
    background-color: #ffb3ba;
}

/* Wrapper for the form buttons */
/* ------------------------- */
.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
  }

  @font-face {
    font-family: 'Pixel Berry 08/84 Ltd.Edition';
    font-style: normal;
    font-weight: normal;
    src: local('Pixel Berry 08/84 Ltd.Edition'), url('../assets/fonts/Pixel_Berry_08_84_Ltd.Edition.woff') format('woff');
    }


#titleTextStyling {
    font-size:3vw;
    font-family: 'Pixel Berry 08/84 Ltd.Edition';
    color: white;
    text-shadow: 3px 2px grey; 
}

.fontPusher {
    font-family: 'Pixel Berry 08/84 Ltd.Edition'; 
}

#buttonStyle {
    background-color: #ff899f; /* Green */
    border: none;
    color: #ffffba;
    text-shadow: #cdb635; 
}





  .wrapping-card {
    
     margin: 0 auto; 
     border: 5px solid red;
     padding: 20%;
  }
.home-cards {
  width: 150%;
  margin-bottom: 5%;
  margin-left: -21%;
  margin-top: 9%;
}
.thumbnail {
  margin-top: -500%;
  margin-left: -30%;
}

/* login page css*/
/* ------------------------- */

#button1{
  
}